<!DOCTYPE html>
<html>
<head>
  <title>UFU PPGEB EEG</title>
</head>
<body>
  <div id='root'></div>

  <script src="https://fb.me/react-15.0.1.js"></script>
  <script src="https://fb.me/react-dom-15.0.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

  <!-- <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
  rel="stylesheet"/>
  <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
  rel="stylesheet"/> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script type="text/babel">

  var EMPLOYEES = [
    {name: 'Joe Biden', age: 45, years: 5},
    {name: 'President Obama', age: 54, years: 8},
    {name: 'Crystal Mac', age: 34, years: 12},
    {name: 'James Henry', age: 33, years: 2}
  ];

  var Paciente = React.createClass({
    getInitialState: function() {
      return {display: true };
    },
    handleDelete() {
      var self = this;
      $.ajax({
        url: "http://localhost:8080/pacientes",
        type: 'DELETE',
        success: function(result) {
          self.setState({display: false});
        },
        error: function(xhr, ajaxOptions, thrownError) {
          toastr.error(xhr.responseJSON.message);
        }
      });
    },
    render: function() {
      return (
        <tr>
        <td>{this.props.paciente.nome}</td>
        <td>{this.props.paciente.sexo}</td>
        <td>{this.props.paciente.dataNascimento}</td>
        <td>
        <button className="btn btn-info" onClick={this.handleDelete}>Delete</button>
        </td>
        </tr>);
      }
    });

    var PacienteTable = React.createClass({
      render: function() {
        var rows = [];
        this.props.pacientes.forEach(function(paciente) {
          rows.push(<Paciente paciente={paciente} />);
        });
        return (
          <table className="table table-striped">
          <thead>
          <tr>
          <th>Nome</th><th>Sexo</th><th>Data de Nascimento</th>
          </tr>
          </thead>
          <tbody>{rows}</tbody>
          </table>);
        }
      });

      var App = React.createClass({

        loadPacientesFromServer: function () {
          var self = this;
          $.ajax({
            url: "http://localhost:8080/pacientes",
            dataType: "json"
          }).then(function (data) {
            self.setState({pacientes: data});
          });
        },

        getInitialState: function () {
          return {pacientes: []};
        },

        componentDidMount: function () {
          this.loadPacientesFromServer();
        },

        render() {
          return ( <PacienteTable pacientes={this.state.pacientes}/> );
        }
      });

      // ReactDOM.render(
      //   <EmployeeTable  employees={EMPLOYEES}/>, document.getElementById('root')
      // );
      ReactDOM.render(<App />, document.getElementById('root') );
      </script>
    </body>
    </html>
