.app-footer{
    text-align: center;
}

button {
    margin-left: 5px;
}

.overflow-auto{
    overflow: auto;
}

.display-table{
    display: table;
}

.actions-contacts {
    float: right;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.app-main {
    min-height: calc(100vh - 3.5rem);
}

.card > legend,
.card legend {
    width: 100%;
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.8rem;
}
